<<<<<<< HEAD
<div class="nested-fields">
  <%= f.input :food_item_id, collection: food_items_for_select(@facade.food_items), input_html: { class: "js-food-item-get-price" } %>
  <%= f.input :price, input_html: {class: "js-food-item-set-price"} %>
  <%= link_to_remove_association "remove meal", f, class: "js-remove-item" %>
=======
<div class="nested-fields" >
  <%= f.input :food_item_id, collection: FoodItem.all %>
  <%= f.input :price %>
  <%= link_to_remove_association "remove meal", f %>
>>>>>>> d58f565... Added Cocoon
</div>
