<div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
<%= week_calendar attribute: :created_at, menus: @menus do |date, menu_items| %>
<%= date %>
<% menu_items.each do |item| %>
<div>
  <%= @menus.food_item.name %>
</div>
<% end %>
<% end %>
<div class="container-fluid" >
  <div class="row">
    <div class="col-10">
      <% @menus.each do |menu| %>
        <p><%= menu.name %></p>
        <p><% menu.meals.each do |meal| %></p>
        <ul>
          <li><%= meal.food_item.name %></li>
          <li><%= meal.price %></li>
        </ul>
      <% end %>
      <%end %>
    </div>
    <div class="col-2">
     <%= user_role_status current_user %>
    </div>
  </div>
</div>
