<div class="container-fluid">
  <div class="row">
    <div class="col-4 ">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow" id="js_main">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Menu creator</h4>
              </div>
              <%= simple_form_for @facade.menu, html: { id: "myForm" } do |f| %>
                <%= f.input :name %>
                <%= f.input :date %>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Choose the food</small></h1>
                <div id="meals">
                    <%= f.fields_for :meals do |mf| %>
                      <%= render 'meal_fields', f: mf %>
                    <% end %>

                    <div class="links">
                      <%= link_to_add_association 'add meal', f, :meals %>
                    </div>
                  </div>
                  <%= f.button :button, :id => "button_to_add_menu_item", type: "button" do %>
                      Add to menu
                <% end %>
              </div>
            </div>
        </div>
    </div>
    <div class="col-6 w-100">
      <div style="position:fixed">
        <%= f.button :submit %>
        <% end %>
      <% FoodItem.meal_types do |key,value| %>
        <div class="row">
          <div class="col-12">
            <h1><%= key %></h1>
            <div id ="<%= meal_type.value + "_id"%>">
            </div>
            <hr />
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>

</div>
