<% Order.all.each do |order| %>
<hr />
<<<<<<< HEAD
<<<<<<< HEAD
  <% order.order_meals.each do |order_meal| %>
  <p><%= order_meal.meal.food_item.name %></p>
  <p><%= order_meal.meal.food_item.price %></p>
=======
  <% order.order_meals.each do |om| %>
  <p><%= om.meal.food_item.name %></p>
<<<<<<< HEAD
>>>>>>> 02a7fd6... Orders with OrderMeals
=======
  <p><%= om.meal.food_item.price %></p>
>>>>>>> d2cdaec... tried enum
=======
  <% order.order_meals.each do |order_meal| %>
  <p><%= order_meal.meal.food_item.name %></p>
  <p><%= order_meal.meal.food_item.price %></p>
>>>>>>> 41ec95b... Code review
<% end %>
<hr />
<% end %>
