<<<<<<< HEAD
<% @food_items.each do |i| %>
  <p><%= i.name %></p>
  <p><%= i.price %></p>
  <p><%= i.meal_type %></p>
=======
<% @foodItems.each do |i| %>
  <p><%= i.name %></p>
  <p><%= i.price %></p>
  <p><%= i.mealType %></p>
>>>>>>> 396c301... Wrodi pashe grobana forma
<% end %>
