<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<<<<<<< HEAD
<<<<<<< HEAD
    <%= link_to "Log in",  new_user_session_path %>
=======
>>>>>>> 1b0a9e6... Added pundit
=======
    <%= link_to "Log in",  new_user_session_path %>
>>>>>>> 4d9bc9a... Menu check
  </body>
</html>
